
body{
    min-height: 200vh;
}
.statico {
    position: static;
    left: 100px;
    top: 25px;
    background-color: aliceblue;
    border: 3px solid black;
    padding: 20px;
}

.relativo {
    position: relative;
    left: 100px;
    top: 25px;
    background-color: bisque;
    border: 3px solid black;
    padding: 20px;
}

.relativo-genitore {
    position: relative;
    background-color: burlywood;
    border: 3px solid black;
    padding: 20px;
}

.assoluto {
    position: absolute;
    left: 100px;
    top: 25px;
    background-color: gainsboro;
    border: 3px solid black;
    padding: 20px;
}

.fisso {
    position: fixed;
    right: 100px;
    bottom: 100px;
    background-color: lavender;
    border: 3px solid black;
    padding: 20px;
}

.sticky{
    position: sticky;
    top: 25px;
}

.alto{
    height: 150vh;
    background-color:palegreen;
    border: 3px solid;
    margin-bottom: 100vh;
}